@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 400;
	line-height: 1.6em;
	color: #000;
	background-color: #FFF;
	/* overflow-x: hidden; */
}

/* HEADER -> NAVBAR */

header{
	background-color: #FFF;
	border-bottom: 2px solid #000;
}

.navbar-brand {
	font-size: 25px;
}

.nav-a{
	color: #000;
}

.nav-a:focus, .nav-a:hover{
	color: #000;
}

.navbar-brand {
    color: #000;
}

.navbar-collapse{
	margin-left: 3%;
}

.navbar-toggler {
	border-color: #000;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #000; 
}

.navbar-light .navbar-nav .nav-link {
	color: #000; 
}

.dropdown-menu{
	min-width: 0;
	text-align: center;
}

#navbarDropdown{
	color: #000;
	margin-left: 10px;
}

#navbarDropdown:hover{
	color: #000;
}

.dropdown-item.active, .dropdown-item:active {
	color: #000;
	text-decoration: none;
	background-color: #fff;
}

.languages{
	padding: 0.5rem;
	margin-left: 4%;	
}

.languageFlag{
	width: 32px;
	height: 32px;
}

.logoPpal {
	height: 40px;
}


.login{
	padding: 0.25rem 0.5rem;
	border: 1px solid;
    border-radius: 4px;
	margin-left: 3%;
}



/* FORM STRUCTURE */

.container {
	margin: auto;
}

.center-row{
	margin-left: auto;
	margin-right: auto;
}

.center-block{
	float: none;
	background-color: #FFF;
	margin-top: 3%;
	margin-bottom: 10%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.center-block-content {
	margin: auto;
	margin-top: 5%;
	margin-bottom: 7%;
}

#group-form{
	margin-top: 10%;
	margin-bottom: 5%;
} 



/*STYLE INPUTS FORMS*/

.input-container {
	position: relative;
	margin-bottom: 8%;
}
	
.input-container > input{
	display: block;
	position: absolute;
	left: 10%;
	bottom: 1%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 90%;
	border:1px solid #aaa ;
	border-width: 0 0 1px;
	outline: none;
	background: none;
	z-index: 1;
	padding: 1px;
	letter-spacing: 0.012em;
}


.input-container > label {
	display: block;
	position: absolute;
	margin-left: 10%;
	padding: 1px;
	letter-spacing: 0.012em;
	color: #636c72;
	font-size:14px;
	-webkit-animation-name: labelIn;
	animation-name: labelIn;
	-webkit-animation-duration: 0.35s;
	animation-duration: 0.35s;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
	animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

 
.input-container > input:focus + label,
.input-container > input:valid + label {
  -webkit-animation-name: labelOut;
  animation-name: labelOut;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-direction: normal;
  animation-direction: normal;
 -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
	animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}


.input-container > input:-moz-read-only + label
 {
  animation-name: labelOut;
  animation-duration: 0.35s;
  animation-direction: normal;
  animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}


.input-container > input:read-only + label
{
  -webkit-animation-name: labelOut;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-direction: normal;
 	-webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}




.input-group-text {
	width: 8%;
	background-color: #aaa;
	color: #fff;
}


 @keyframes 
  labelIn {  
	  0% { 
			left: 1px;
			opacity: 1;
			bottom: 0px; 
			font-size: 1em;
   		font-weight: 300;
  	}
    50% {
			left: 1em;
			opacity: 0;
			bottom: 0px; 
			font-size: 1em;
   		font-weight: 300;
  	}
   	50.01% {
			font-size: 1em;
			left: 1em;
			opacity: 0;
			bottom: 45%; 
			color:#636c72;
			font-weight: 400;
  	}
   	    100% {
			font-size: 1.00em;
			opacity: 1;
			left: 1px;
			bottom: 45%; 
		  color: #636c72;
			font-weight: 400;
  	} 
  }
  
@keyframes 
	labelOut {
		0% {
			left: 1px;
			opacity: 1;
			bottom: 0px; 
			font-size: 1em;
			font-weight: 300;
		}
		50% {
			font-size:0.9em;
			left: 1em;
			opacity: 0;
			bottom: 0px; 
			font-weight: 300;
		}
		50.01% {
			font-size: 1em;
			left: 1em;
			opacity: 0;
			bottom: 45%; 
			color: #636c72;
			font-weight: 400;
		} 
		100% {
			font-size: 1em;
			opacity: 1;
			left: 1px;
			bottom: 45%; 
			color: #636c72;
			font-weight: 400;
		}
	} 



/* CHECKBOX */

.checkboxList{
	margin-top: 2%;
}

.checkboxList > label {
	width: 30%;
	border-radius: 3px;
	border: 1px solid #D1D3D4;
}
  
input[type="checkbox"] {
	display: none;
}
  
input[type="checkbox"]:empty ~ label {
	margin-left:35%;
	position: relative;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 0.5em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
  
input[type="checkbox"]:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
	content: '\2717';
	text-indent: .9em;
	color: #C2C2C2;
}
  
input[type="checkbox"]:hover:not(:checked) ~ label:before {
	content: '\2713';
	text-indent: .9em;
	color: #C2C2C2;
} 
  
input[type="checkbox"]:checked ~ label {
	color: #777;
}
  
input[type="checkbox"]:checked ~ label:before {
	content: '\2713';
	text-indent: .9em;
	color: #333;
}
  
input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: #337ab7;
}

/* MODAL */

.modal{
	margin-top: 5%;
}

.modal-header{
	background-color: #337ab7;
	color: #FFF;
}
.modal-body{
	margin-top: 4%;
}

.modal-delete{
	background-color: #dc3545;

}

#helpButton{
	width: 97%;
}
#demo-gif{
	width: 100%;
}

/* BUTTONS */

.btn-dark{
    margin-top:20px;
    margin-bottom:10px;
    padding:8px;
    font-size:14px;
    background-color:#eeee;
    color:#000;
    border:none;
    border-bottom:3px solid #19e6;
    border-radius:8%;
    float:right;
}
  

/* FOOTER */

.footer {
	bottom:0%;
	max-height: 50%;
	width: 100%;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
  	background-color: white;
  	color: #000;
	text-align: center; 
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.copyright {
	text-align:center;
	color: #000;
}

.copyright a {
	color:#000;
}



/* TESTS */

.resume{
	padding-top: 2%;
	font-weight: bold;
}

.test-valid{
	color: green; 
	font-weight: bold;
}

.test-invalid{
	color: red; 
	font-weight: bold;
}




/* HEADER ELEMENTS */
.navProfile{
	width: 36px;
	border-radius: 15px;
}

.noArrow{
	margin-right: 1%;
}

.noArrow > .dropdown-toggle::after {
	display: none;
}

.inset {
  width: 48px;
	border-radius: 50%;
}

.inset img {
	border-radius: inherit;
	border: 1px solid grey;
  width: inherit;
  position: relative;
}

.language-box{
	padding: 2px 8px;
	border: 1px grey solid;
	border-radius: 10px;
}

.language-box .lang-selected{
	color:black;
}

.language-box .lang-no-selected{
	color:grey;
}


/* WELCOME IMG */
#imgIndex {
	display:block;
	margin:auto;
	margin-bottom: 5%;
	opacity: 0.8;
	border-radius: 3px;
}

/* TITLE AND SUBTITLE VIEWS */
#titleView{
	margin: auto;
	margin-top: 3%;
	font-size: 32px;
	text-align: center;
	line-height: 100%; 
}

#subtitleView {
	margin:auto;
	font-size: 14px;
	text-align: center;
	color: grey;
}

#messageView{
	margin: auto;
	margin-top: 5%;
	font-size: 32px;
	text-align: center;
	line-height: 100%; 
}


/* STYLE ONLYLOGIN VIEW */
.loginContainer{
	margin-top: 15%;
}

#loginContainer{
	width: 70%;
	margin-top: 10%;
    margin: auto;
    padding: 20px;
    padding-bottom: 10px;
    border: 1px solid #d8dee2;
    border-radius: 3%;
}

input#loginUsername, input#loginPassword{
	width:100%;
	border:2px solid #aaa;
	border-radius:4px;
	margin:8px 0;
	outline:none;
	padding:8px;
	box-sizing:border-box;
	transition:.3s;
	height: 39px;
}

.inputWithIcon{
	position:relative;
}

.inputWithIcon input#loginUsername,input#loginPassword{
	padding-left:40px;
	margin-bottom: 5%;
}

.inputWithIcon i{
	position:absolute;
	left:0;
	top:8px;
	padding:9px 8px;
	color:#aaa;
	transition:.3s;
}

.inputWithIcon.inputIconBg i{
	background-color:#aaa;
	color:#fff;
	padding:9px 4px;
	border-radius:4px 0 0 4px;
}

.select-login{
	position: inherit !important;
	width: 90%;
	left: 10%;
}

.item-select{
	width: 50%;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 10%;
}

.fa-lg {
  font-size: 1.6em;
  line-height: 0.84em;
}


/* PASSWORD BOX  */
.passwordAlert {
	display: none;
	margin-bottom:8% ;
}

.passwordAlert p{
	text-align: inherit;
	margin:auto;
  margin-left: 35%;
}

.valid {
	color: green;
}
  
.valid:before {
	position: relative;
	left: -35px;
	content: "✔"!important;
}
  
.invalid {
	color: red;
}
  
.invalid:before {
	position: relative;
	left: -35px;
	content: "✖"!important;
}

#divChangePasswd{
	display: none;
}


/* SELECT INPUT */
.preSelect{
	margin-bottom: 5%;
}

.custom-select{
	display:block;
	position: absolute;
	width: 91%;
	left: 10%;
	font-size: 14px;
}

.labelSelect{
	color: #636c72;
  margin-left: 11%;
}


/* BOTON ATRÁS + CAMPO BUSCAR */
#pnlBoxSearch{
	margin-top: 2%;
}

.iconBack{
	margin-left: 1%;
	margin-top: 1.5%;
}

#searchBox {
	background: url('../img/searchicon.png') no-repeat scroll 7px 7px;
	padding-left:30px;
  width: 25%;
  font-size: 16px;
  padding: 8px 5px 8px 40px;
  border: 1px solid #ddd;
	float: right;
	margin-bottom: 1%;
}


/* CHECKBOX */

input[type="checkbox"]:empty ~ .toggle {
	margin-left: 20%;
}

.checkboxList > .toggle {
	width: 60%;
	border-radius: 3px;
	border: 1px solid #D1D3D4;
}



/* BUTTONS */
.loginButton {
  width: 102%;
  margin-bottom: 4%;
}

.btn-darkLogin {
  margin-bottom: 30px;
  padding: 8px;
  font-size: 14px;
  background-color: #eeee;
  color: #000;
  border: none;
  border-bottom: 3px solid #19e6;
	border-radius: 2px;
}

.btn-danger{
	cursor:pointer;
}

.btn-dark{
	margin-top: 0;
}


/* HTML ELEMENTS */
td{
	vertical-align: middle!important;
}

p{
	margin-top:5%;
	font-weight: bold;
} 

a:hover{
	text-decoration: none
}


.a-back{
	margin-left: 11%;
} 

.showEntity{
	margin-left: 50%;
}

/* IMG ELEMENTS */
.miniatureTable{
	width: 40px;
	height: 40px;
}

.avatarplan{
	width: 200px;
	height: 200px;
}

.avatarUser{
	width: 50px;
	height: 50px;
}

.div-plane {
	display:none;
}

#no-plane{
	width: 25px;
	height:25px;
}



/* PROFILE USER PHOTO */

#profilePhoto-container {
  width: 150px;
	height: 150px;
	margin:auto;
	margin-bottom: 5%;
	overflow: hidden;
	border-radius: 50%;	
	margin-bottom: 10%;
	cursor: pointer;
}

.profilePhoto-frame{
	border: 2px dashed rgba(0, 0, 0, 0.623);
}

#profilePhoto {
  width: 150px;
  height: 150px;
}

#imageUpload{
  display: none;
}


/* CANVAS ELEMENTS */
#container-canvas{
    position:relative;
    
}

#canvasImage,#canvasSelection{
    position:absolute; top:0px; left:0px;
   
}

#canvasImage,#canvasSelection{
	margin-top:3%;
	margin-bottom:3%;
}

#planButtons{
	position: fixed;
	top: 45%;
	margin-left: 3%;
}

#planButtons li{
	list-style:none;
}



#planButtons li ul a{
	width: 100px;
}

#resizeButton{
	display: none;
}


/* FUNCTIONS-ACTIONS */
.orderBlock{
	margin-bottom: 2%;
	display: block;
	list-style: none;
}

.group-action{
	margin-top: 2%;
	margin-left: 5%!important;
	display: none;
	font-style: oblique;
}

#nameGroup{
    width: 65%;
    left: 50px;
}

#descripGroup{
    width: 65%;
    left: 50px;
}

.btn-labeled{
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 7px;
	height: 1%;
}

.group-dates{
	margin-left: 20%;
	margin-bottom: 4%!important;
}

.group{
	width: 40px;
}

.label-group{
	width: 100%;
    margin-left: 50px!important;
}

.grpfrm{
	margin-top:0%!important;
}

.a-back-group{	margin-left: 21%;
} 

.show-a{
	color: black!important;
	font-weight: normal;
}


/* DIV INPUT FILE */

.fileInputEdit{
	position: absolute;
	bottom: 11.5%;
}

.buttonText{
	font-size: 14px;
}

.form-control{
	font-size: 14px;
	position: initial;
	margin-left: 10%;
}

.control-label{
	color: #636c72;
	margin-bottom: 3%;
	margin-left: 5%;
} 

.fileInput{
	position: absolute;
	bottom: 9.5%;
}



/*MINIATURE IMG*/

#plane_floor{
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}


#icon-view{
	position: absolute;
	width: 45%;
	margin: 25%;
	margin-right: 15%;
	bottom: 0;
}

#icon-view:hover{
	background-image: url('../img/iconTouchHover.png');
	background-size: 100%;
}

#view-plan:hover ~ #icon-view{
	background-image: url('../img/iconTouchHover.png');
	background-size: 100%;
}

@-moz-document url-prefix() {
	#icon-view{
		margin-left: -70%;
	}
  }


/* BUTTON FUNCIONALITY -> GROUP */

.btn-hover {
	background-color: rgb(122, 122, 122);
}

.btn-hover .round {
	background-color: rgb(178, 174, 174)
}
  
.btn-hover {
	text-decoration: none;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	padding: 12px 53px 12px 23px;
	color: #fff!important;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	position: relative;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	display: inline-block;
}

.btn-hover span {
	position: relative;
	z-index: 3;
}

.btn-hover .round {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 38px;
	height: 38px;
	position: absolute;
	right: 3px;
	top: 3px;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	z-index: 2;
}

.btn-hover .round i {
	position: absolute;
	top: 50%;
	margin-top: -6px;
	left: 50%;
	margin-left: -4px;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
  
.txt {
	font-size: 14px;
	line-height: 1.45;
}
  
.button-funct .btn-hover:hover {
	padding-left: 48px;
	padding-right: 28px;
}

.button-funct .btn-hover:hover .round {
	width: calc(100% - 6px);
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}
  
.button-funct .btn-hover:hover .round i {
	left: 12%;
}












  
