@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css";

body {
	font-family:'K2D','Open Sans', Arial, sans-serif;
	font-size:14px;
	font-weight:300;
	line-height:1.6em;
	color:#000;
	background-color:white;
}

/* HEADER -> NAVBAR */

header{
	background-color: white;
	border-bottom: 2px solid black;
}

.navbar-brand {
	font-size: 25px;
}
.nav-link {
    padding-left:0;
}

.navbar-brand {
    color: #000;
}

.navbar-collapse{
	margin-left: 3%;
}

.navbar-toggler {
	border-color: #000;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
     color: #000; 
}

.navbar-light .navbar-nav .nav-link {
	color: #000; 
}

.dropdown-menu{
	min-width: 0;
	text-align: center;
}

#navbarDropdown{
	color: #000;
	margin-left: 10px;
}

#navbarDropdown:hover{
	color: #000;
}

.dropdown-item.active, .dropdown-item:active {
	color: #000;
	text-decoration: none;
	background-color: #fff;
}



/* BODY BASIC ELEMENTS */

.container {
	margin: auto;
}

.center-row{
	margin-left: auto;
	margin-right: auto;
}


.center-block{
	float: none;
	background-color: white;
	margin-top: 3%;
	margin-bottom: 10%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.login{
	margin-top: 10%;
}

.center-block-content {
	  margin: auto;
	  margin-top: 5%;
	  margin-bottom: 7%;
	  overflow-x: auto;
}




#titleView{
	margin: auto;
	margin-top: 5%;
	font-size: 32px;
	text-align: center;
	line-height: 100%; 
}

#subtitleView {
	margin:auto;
	margin-top:2%;
	font-size: 14px;
	text-align: center;
	color: grey;
}

/* #lblBox{
	font-size: 70%;
	padding-left: 1%;
} */

#group-form{
	margin-top: 2%;
	margin-bottom: 5%;
}


.font-weight-light{
  font-size: 10px;
  margin-left: 25%;
}




/* INPUTS */

/* TYPE=TEXT  AND TYPE=PASSWORD*/

input[type=text],[type=password]{
    width:100%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
	transition:.3s;
	height: 10%!important;
  }

.inputWithIcon input[type=text],[type=password]{
	padding-left:40px;
	margin-bottom: 5%;
}


.inputWithIcon{
	position:relative;
}

.inputWithIcon i{
	position:absolute;
	left:0;
	top:9px;
	padding:9px 8px;
	color:#aaa;
	transition:.3s;
}


.inputWithIcon.inputIconBg i{
	background-color:#aaa;
	color:#fff;
	padding:9px 4px;
	border-radius:4px 0 0 4px;
}

#inputLogin{

	width: 50%;
	margin: auto;
}

#logoLogin{
	margin:auto;
}

.item-select{
	margin-left:30%;
	margin-bottom: 10%;
}

.fa-lg {
    font-size: 1.6em;
    line-height: 0.84em;
}

.fa-fw {
	width: 1.6em;
}




/* BUTTONS */

.btn-dark{
	margin-top:20px;
	margin-bottom:10px;
	margin-right: 0%;
	padding:8px;
	font-size:14px;
	background-color:#eeee;
	color:#000;
	border:none;
	border-bottom:3px solid #19e6;
	border-radius:2px;
	float:right;
	
}


.loginButton {
    width: 102%;
    margin-bottom: 4%;
}

.btn-darkLogin {
    margin-bottom: 30px;
    padding: 8px;
    font-size: 14px;
    background-color: #eeee;
    color: #000;
    border: none;
    border-bottom: 3px solid #19e6;
    border-radius: 2px;
}



/* HTML ELEMENTS */

td{
	text-align: center; 
	vertical-align: middle!important;
}

p{
	margin-top:5%;
	font-weight: bold;
}


.logo{
	width: 40px;
	height: 40px;
}

.viewPlane{
	width: 200px;
	height: 200px;
}


/* FOOTER */

.footer {
	bottom:0%;
	max-height: 50%;
	width: 100%;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
    background-color: white;
    color: #000;
	text-align: center; 
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

ul.social-network {
	padding: 0;
	text-align:center;	
}

ul.social-network li {
	display:inline;
	margin: 0 10px;
	margin-top: 2%;
	color:#000;
}
ul.social-network li a {	
	color:#000;
	
}

.copyright {
	text-align:center;
	color: #000;
}

.copyright a {
	color:#000;
}
